*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
  
nav,footer,header,aside{display: block;}
  
html,body{
  /* height: 100%; */
  height: 100vh;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
input,button,textarea{font-family:inherit;}
  
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;max-width: 100%;}
  
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
  font-family: 'Star Wars Font'; 
  src: local('sw-font'),
  url(fonts/sw-font.ttf); 
}

body {
  font-family: 'Star Wars Font'; 
  color: #ffe81f;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
button {
  margin: .2rem;
  width: 14vw;
  height: 8vh;
  background-color: #f6f6f6;
  color: #000;
  font-size: 2.5vmin;
  border-left: .2rem #ffffff solid;
  border-right: .2rem #b9b9b9 solid; 
  border-top: .2rem #ffffff solid;
  border-bottom: .2rem #b9b9b9 solid;
}
button:hover {
  background-color: #d4d4d4;
  border-left: .2rem #f0f0f0 solid;
  border-right: .2rem #afafaf solid; 
  border-top: .2rem #f0f0f0 solid;
  border-bottom: .2rem #afafaf solid;
}
button:active {
  background-color: #494949;
  color: #d1d1d1;
  border-left: .2rem #e2e2e2 solid;
  border-right: .2rem #a0a0a0 solid; 
  border-top: .2rem #e2e2e2 solid;
  border-bottom: .2rem #a0a0a0 solid;
} 
button:disabled {
  background-color: #cfcfcf;
  color: #adadad;
  border-left: .2rem #cecece solid;
  border-right: .2rem #adadad solid; 
  border-top: .2rem #cecece solid;
  border-bottom: .2rem #adadad solid;
}
.container {
  background: linear-gradient(#252525, #200033, #ff8800, #ffc400);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.screen {
  width: 60vh;
  height: 50vh;
  position: absolute;
  top: 15.5vh;
  overflow: hidden;
  background-color: #272727;
  box-shadow: 10px #272727 inset;
  cursor: pointer;
}
.start-screen {
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-screen-title {
  font-size: 8vmin;
}
.start-screen-subtitle {
  margin-top: .2rem;
  font-size: 6vmin;
}
.start-screen-message {
  position: absolute;
  bottom: 1rem;
  font-size: 2vmin;
}
.difficult-block {
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 100%;
}
.title {
  margin-bottom: 1rem;
  font-size: 5vmin;
}
.difficult-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 40%;
}
.game-space {
  margin: 0 auto;
  position: absolute;
  height: 100%;
  transition: .5s;
  left: 0;
  top: 100%;
  z-index: 2;
}
.game-space-easy {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}
.game-space-mid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
}
.game-space-hard {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5rem;
}
.game-item {
  position: relative;
  top: .2rem;
}
.back-img, .front-img {
  transition: 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front-img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.victory-screen {
  position: absolute;
  transition: .5s;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.victory-img {
  width: 50%;
  margin-bottom: 1rem;
}
.play-again-block {
  transition: .5s;
  display: none;
  opacity: 0;
  justify-content: center;
  width: 40%;
}
.background {
  width: 73vh;
  height: 80vh;
  display: flex;
  position: absolute;
  top: 7.1vh;
}
.background-img {
  pointer-events: none;
  min-width: 100%;
}
.flip-phone{
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(#252525, #200033, #ff8800, #ffc400);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flip-phone p {
  text-align: center;
}
.flip-phone-img {
  width: 25%;
  margin-bottom: 1.2rem;
  animation: flipflip 2s linear infinite;
}
@keyframes flipflip {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}

@media (min-width: 120px) and (max-width: 1200px) {
  .screen {
    width: 80vh;
    height: 75%;
    top: 10%;
    position: absolute;
  }
  .background {
    top: 0%;
    width: 119vh;
    height: 100%;
  }
  button {
    width: 15vw;
    height: 8vh;
  }
}